# Ignore everything
*

# Except these files
!.gitignore
!README.md
!LICENSE

# Except these directories
!*nvim/
!*nvim/**
!*kitty/
!*kitty/**
!*tmux/
!*tmux/**
!*scripts/
!*scripts/**

# But ignore the compiled packer file
nvim/plugin/packer_compiled.lua
