# Ignore everything
*

# Except these files
!.gitignore
!README.md
!LICENSE
!setup.sh

# Except these directories
!*nvim/
!*nvim/**
!*kitty/
!*kitty/**
!*tmux/
!*tmux/**
!*scripts/
!*scripts/**
!*zsh/
!*zsh/**
!*hypr/
!*hypr/**

# But ignore the compiled packer file
nvim/plugin/packer_compiled.lua
