# Ignore everything
*

# Except these files
!.gitignore
!README.md
!LICENSE
!.tmux.conf

# Except these directories
!*nvim/
!*nvim/**
!*kitty/
!*kitty/**

# But ignore the compiled packer file
nvim/plugin/packer_compiled.lua
